/* ==========================================================================
Main page styles
========================================================================== */

.image-bg {
  min-height: 500px;
  background-size: cover !important;
  background-position: 50%;
}

.pd-tp-2 {
  padding-top: 2em;
}

.blob {
  background: #ffffff;
}

.desc-col {
  color: black;
}

.call-out {
  color: #11395a;
}

.tagline-pd {
  padding-top: 1em;
  padding-bottom: 1em;
}

.tag {
  font-size: 44px;
}
.tag-msg {
  font-size: 20px;
}
